
<div class="row">
  <div class="map small-8 large-7 columns">
   <div class="choices">
    <button class="small good">Good</button>
    <button class="small bad">Bad</button>
    <button class="small ugly">Ugly</button>
  </div>
  <div id="map-canvas"></div>
  <div style="margin-top: 10px;">
    <input type="text" id="search-string_1" onkeyup="changeMap_1()" placeholder="Search by Name"> 
  </div>
</div>

<div class="restaurants small-4 large-5 columns">

  <ul class="restaurant-list">
  </ul>
</div>

</div>
<!-- Map -->
<%= render "mainmap"%>



