
<div class="row">
  <div class="small-6 small-offset-3 large-6 columns">
    <form id="search">
      <input name="search" type="search" placeholder="enter zip or name" id="search-string_1" onkeyup="changeMap_1()">
    </form>
  </div>
  <div class="map small-12 large-12 columns">
   <div class="choices">
    <button class="small good">Good</button>
    <button class="small bad">Bad</button>
    <button class="small ugly">Ugly</button>
  </div>
  <div id="gmap"></div>
</div>

<div class="restaurants small-12 large-12 columns">

  <ul class="restaurant-list small-block-grid-2 medium-block-grid-3 large-block-grid-3">
  </ul>
</div>

</div>
<!-- Map -->
<%= render "mainmap"%>

<script type="text/javascript">
  $(function(){
    if(window.location.search.length == 0){
      getRestaurants(<%= Geocoder.search(@a)[0].data['zipcode'] %>, placeRestaurants)
    }else if(window.location.search.length > 0){
      // getRestaurants(window.location.search.slice(-5), placeRestaurants)
    }
    $("#search").submit(function(e){
      e.preventDefault();
      getRestaurants($(this).find('input[name="search"]').val(), placeRestaurants);
    })
  })

</script>



