
<div class="map">
<iframe width="650" height="650" scrolling="yes" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col8+from+1lhzj737PB2NgR3CU5iC2NyXWHsfcZP7hO8ohNN0&amp;viz=MAP&amp;h=false&amp;lat=40.7396917&amp;lng=-73.9889609&amp;t=1&amp;z=14&amp;l=col8&amp;y=2&amp;tmplt=2&amp;hml=ONE_COL_LAT_LNG&amp;"></iframe>
</div>

<div class= "good rest_list">
    <div class="title"><h1>The Good</h1></div>
    <% for resto in @rest do %>
    <%if resto.points.to_i <= 16 %>
      <h3 class="restaurant"><%= link_to resto.camis, restaurant_path(resto), class: "links"%></h3>
    <%end%>
  
  <%end%>  
</div>


<div class = "bad rest_list">
  <div class="title"><h1>The Bad</h1></div>
  <% for resto in @rest do %>
  
    <%if (resto.points.to_i > 16 && resto.points.to_i <=27) %>
      <h3 class="restaurant"><%= link_to resto.camis, restaurant_path(resto), class: "links"%></h3>
    <%end%>
  
  <%end%>
</div>


<div class = "ugly rest_list">
  <div class="title"><h1>The Ugly</h1></div>
 <% for resto in @rest do %> 
    <%if resto.points.to_i > 27%>
      <h3 class="restaurant"><%= link_to resto.camis, restaurant_path(resto), class: "links"%></h3>
    <%end%>
  <%end%>
</div>
  


