
<div class="row">
<div class="map small-7 large-7 columns">
<div id="map-canvas"></div>
    <div style="margin-top: 10px;">
      <label class="layer-wizard-search-label">
        Search by Name
        <input type="text" id="search-string_1" onkeyup="changeMap_1()" placeholder="Search by Name">
      </label> 
    </div>
</div>
<div class="choices small-5 large-5 columns">
  <button class="good">Good</button>
  <button class="bad">Bad</button>
  <button class="ugly">Ugly</button>
</div>
<div class="restaurants small-5 large-5 columns">

  <ul class="restaurant-list">
  </ul>
</div>

</div>
<!-- Map -->
<%= render "mainmap"%>
  


