body{
  background:url(http://farm4.staticflickr.com/3320/3196435369_120a563ca8_o.jpg);
  font-family: 'Domine', serif;
  background-size: cover;
}
div.header{
  background:rgba(34,31,31,.4);
  height:100px;
  border-bottom: 1px solid whitesmoke;
}
.logo, .logo:hover{
  color:whitesmoke;
  font-size: 90px;
  text-decoration: none;
  font-family: 'Domine', serif;
  font-weight: bold;
}
.links{
  font-family: Helvetica, serif;
  line-height: 30px;
  font-size: 1.25em;
  color: whitesmoke;
  margin: 5px auto;
  text-decoration: none;
}
.links:hover{
  font-size: 1.25em;
  color:white;
}
div.title{
  padding-top: 15px;
  background-color: rgba(55,55,55,.7);
  font-size: 30px;
  color: white;
  height: 60px;
  position:absolute;
  text-align: center;
  font-weight: 700;
}
h3.restaurant{
  text-align: center;
  line-height: 20px;
}
.good, .good:focus, .good:hover{
  background: rgba(146,243,125,.7);
}
.bad, .bad:focus, .bad:hover{
  background: rgba(255,245,1,.7);
  
}
.ugly, .ugly:focus, .ugly:hover{
  background: rgba(233,0,0,.6);
}
.restaurant-list{
  text-align: center;
  line-height: 1.3em;
}
div.grub_list{
  margin: 40px 0px 10px 20px;
}
.links_user{
  font-size: 15px;
  line-height: 30px;
  color: rgb(52,52,52);
  text-decoration: none;
}
div.map{
  border-radius: 5px;
  height: 650px;
  background: rgba(34,31,31,.3);
}
div.static_map{
  border-radius: 5px;
}
div.rest_info{
  height:650px;
  text-align: center;
}
.rest_info h5, .rest_info h2, .rest_info h4{
  color:whitesmoke;
}
.rest{
  font-family: 'Arvo', serif;
  margin-top: 10px;
}
h1.rest{
  font-size: 30px;
}
h4.rest{
  font-size: 16px;
}
.user_info{
  margin-left: 20px;
  margin-bottom: 10px;
}
h4.user_info{

}
h3.user_info{
  font-size:30px;
  color: black;
  font-weight: 700;
}
h3.favorite{
  color: rgba(234,123,143,1);
  font-size: 17px;
}
div.restaurant{
  border-radius: 5px;
  height:600px;
  background: rgba(34,31,31,.3);
}
.label{
  margin:20px 500px 5px 30px;
  font-family: 'Arvo', serif;
  font-size: 20px;
  display:inline-block;
}
.field{
  font-family: 'Arvo', serif;
  display:inline-block;
  margin-right: 50px;
  font-size: 40px;
  width:40%;
}
div.restaurants{
  height: 600px;
  overflow: scroll;
  border-radius: 5px;
  background: rgba(34,31,31,.3);
  }
.choices{
  position: fixed;
  height: 51px;
  margin: 0 auto;
  text-align: center;
}
.forms{
  margin: 8.5em auto;
}
.each-one .links:hover{
  color: slategrey;
}

