body{
  /*background:url(http://farm4.staticflickr.com/3320/3196435369_120a563ca8_o.jpg);*/
  background: rgba(255, 125, 82,1);
  font-family: 'Domine', serif;
  background-size: cover;
}
div.header{
  background:rgba(34,31,31,.1);
  height:100px;
  border-bottom: 1px solid whitesmoke;
}
.logo, .logo:hover{
  color:whitesmoke;
  font-size: 90px;
  text-decoration: none;
  font-family: 'Domine', serif;
  font-weight: bold;
}
.links{
  font-family: Helvetica, serif;
  line-height: 30px;
  font-size: 1.25em;
  color: whitesmoke;
  margin: 5px auto;
  text-decoration: none;
}
.links:hover{
  font-size: 1.25em;
  color:white;
}
div.title{
  padding-top: 15px;
  background-color: rgba(55,55,55,.7);
  font-size: 30px;
  color: white;
  height: 60px;
  position:absolute;
  text-align: center;
  font-weight: 700;
}
h3.restaurant{
  text-align: center;
  line-height: 20px;
}
.good, .good:focus, .good:hover{
  background: rgba(146,243,125,.7);
}
.bad, .bad:focus, .bad:hover{
  background: rgba(255,245,1,.7);
  
}
.ugly, .ugly:focus, .ugly:hover{
  background: rgba(233,0,0,.6);
}
.restaurant-list{
  text-align: center;
  line-height: 1.3em;
}
.links_user{
  font-size: 20px;
  line-height: 30px;
  color: goldenrod;
  text-decoration: none;
}
.links_user:hover{
  color: slategrey
}
div.map{
  border-top: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-radius: 5px 5px 0 0;
  height: 375px;
  background: rgba(34,31,31,.1);
}
div.static_map{
  border-radius: 5px;
}
div.rest_info{
  /*height:600px;*/
  text-align: center;
}
.rest_info h5, .rest_info h2, .rest_info h4{
  color:whitesmoke;
}
.rest{
  font-family: 'Arvo', serif;
  margin-top: 10px;
}
h1.rest{
  font-size: 30px;
}
h4.rest{
  font-size: 16px;
  color: whitesmoke;
}
div.user_info, div.grub_list{
  margin-top: 1em;
  background: rgba(34,31,31,.1);
  height: 650px;
  overflow: scroll;
}
.user_info, .grub_list{
  color:whitesmoke;
  text-align: center;
}
div.user_info{
  padding-top: 1em;
}
h5.user_info{
  color:goldenrod;
}
a.user_info{
  color: goldenrod;
}
a.user_info:hover{
  color: slategrey;
}
h3.favorite{
  color: whitesmoke;
  font-size: 22px;
}
div.restaurant{
  border-radius: 5px;
  height:600px;
  background: rgba(34,31,31,.1);
}
.label{
  margin:20px 500px 5px 30px;
  font-family: 'Arvo', serif;
  font-size: 20px;
  display:inline-block;
}
div.restaurants{
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  height: 800px;
  overflow: scroll;
  border-radius: 0 0 5px 5px;
  background: rgba(34,31,31,.1);
  }
.choices{
  margin-bottom: -10px;
  text-align: center;
}
.forms{
  margin: 8.5em auto;
  /*background: rgba(34,31,31,.1)*/
}
.forms h2, .forms label{
  color: whitesmoke;
  text-align: center;
}
.each-one{
  border-radius: 30px 30px 30px 30px;
  border: 2px whitesmoke solid;
  margin-bottom: 5px;
}
.each-one:hover{
  background: rgba(255,255,255,.1);
}
.each-one p{
  font-family: 'Domine', serif;
  color: whitesmoke;
  font-size: 20px;
}
#user_name, #user_email, #user_password, #user_password_confirmation, #email, #password{
background: rgba(34,31,31,.1);
color: whitesmoke;
text-align: center;
font-size: 1.25em;
}
input#search-string_1{
  font-family: 'Domine', serif;
  font-size:1.5em;
  color: whitesmoke;
  text-align: center;
  border:none;
  background: rgba(34,31,31,.1);
  border-radius: 20px;
}
div.violations{
  color: whitesmoke;
  text-align: center;
}